body, p {
    @apply font-soleil;
}

html {
    @apply scroll-smooth
}

.module-container {
    max-width: 1580px;
    width: 100%;
    margin: 0 auto;
}

.cms-content h1,
.h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
}

.cms-content p {
    margin-bottom: 16px;
}

.cms-content p:nth-last-child(1) {
    margin-bottom: 0;
}